# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*

/verklegt-v1/verklegt-v1.pro.user
/verklegt-v1/verklegt-v1.pro.user.*

# QtCreator

*.autosave

#QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*


# Build folders

/build-verklegt-v1-Desktop_Qt_5_5_1_MinGW_32bit-Debug/*